.header {
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: solid 1px black;


}



.col__zone {
    max-width:  80px;
    height: 80px;
    padding: 0 0;
    border: solid 1px black;
}

.input__zone {
    width:  80px;
    height: 80px;
    margin: 0;
    padding: 0;
}

.battlefield {
    margin-top: 60px;


}

.container__battlefield {
    padding: 0;
    margin: 0;
}

.row   {
    margin-right: 0;
    padding-right: 0;
}

.list__box {
    margin-top: 50px;

    width: 120px;
    border: solid 1px red;
}

.list-group {
    padding: 0;
    margin: 0;
}